.loginScreen {
  background: #00356b;
  height: 100vh;
}

.loginContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background: #dae8f3;
  width: 40%;
  height: 50%;
  text-align: center;
  padding: 2%;
  border-radius: 3%;
  box-shadow: 40px 40px;
}

h2 {
  font-size: 600%;
}

.loginFormContainer:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 100%;
  background: rgba(255, 255, 255, 0.3);
}
